*{
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: url(/assets/background_tylijura-abstract-10169397_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #00C2BA;
    display: flex;
    flex-direction: row-reverse;
}
iframe{
    height: 100vh;
    width: 100%;
    border: none;
}
nav{
    font-family: "orbitron", sans-serif;
    margin-right: 20px;
    margin-top: 20px;
    padding: 15px;
    float: right;
    width: auto;
    font-size: 26pt;
}
nav a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: #00C2BA;
}
nav ul{
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
nav ul li{
    box-shadow: 0 0 10px #00C2BA ;
    border: 2px solid #00C2BA;
    border-radius: 15px;
    margin-bottom: 25px;
    padding: 9px;
    transition: all 0.3s ease;
}
nav ul li:hover{
    background-color: #00C2BA;
    box-shadow: 0 0 20px #00C3BA, 0 0 40px #00C4BA;
}
nav ul li:hover a{
    color:black;
}
.photo_pro img{
    border-radius: 250px;
    width: 250px;
    height: 250px;
    margin: 15%;
    box-shadow: 0 0 10px #00C2BA ;
    border: 2px solid #00C2BA;
    cursor: pointer;
}
.photo_pro img:hover{
    box-shadow: 0 0 20px #00C3BA, 0 0 40px #00C4BA;
    transition: all 0.3s ease;
}
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');