body{
    color: #00C2BA;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17pt;
    margin: auto;
    width: 85%;
    padding: 15px;
}
h1{
    font-family: "Orbitron", sans-serif;
    font-size: 37pt;
}
h2{
    font-size: 27pt;
}
hr{
    border: 2px solid #CE95FB;
    width: 98%;
    margin-top: 2.6%;
}
.timeline_arrow{
    width: 35px;
    height: 35px;
    transform: rotate(270deg);
    float: right;
    margin-top: -31px;
}
.bulle{
    background-image: url(/assets/bulle2.png);
    background-size: cover;
    display: inline-block;
    width: 333px;
    height: 260px;
}
.bulle_down{
    margin-top: -2.5%;
}
.bulle_up{
    transform: rotate(180deg);
    margin-bottom: -4.8%;
}
.first_p{
    position: absolute;
    margin-top: 39%;
    margin-left: 45%;
    transform: rotate(180deg);
    color:#CE95FB;
    font-weight: bold;
}
.logo_position{
    position: absolute;
    margin-top: 50%;
    margin-left: 15%;
}
.html_logo{
    width: 35px;
    height: 50px;
    transform: rotate(180deg);
}
.css_logo{
    width: 75px;
    height: 55px;
    transform: rotate(180deg);
}