:root {
    --main-colour: #00C2BA;
    --secondary-colour: #CE95FB;
    --purple-contrast: #9765E0;
}

body{
    color: var(--main-colour);
    font-family: 'Courier New', Courier, monospace;
    font-size: 17pt;
    margin: auto;
    width: 90%;
    padding: 15px;
}
h1{
    font-family: "Orbitron", sans-serif;
    font-size: 37pt;
}
h2{
    font-family: "Orbitron", sans-serif;
    font-size: 23pt;
}
hr{
    border: 2px solid var(--secondary-colour);
    width: 98%;
    margin-top: 2.6%;
}
.timeline_arrow{
    width: 35px;
    height: 35px;
    transform: rotate(270deg);
    float: right;
    margin-top: -31px;
}
.bulle{
    background-image: url(/assets/bulle2.png);
    background-size: cover;
    display: inline-block;
    width: 333px;
    height: 260px;
    overflow: hidden;
}
.bulle_down{
    margin-top: -2.42%;
}
.bulle_up{
    transform: rotate(180deg);
    margin-bottom: -4.8%;
}
.timeline_up_p{
    position: absolute;
    margin-top: 39%;
    margin-left: 45%;
    transform: rotate(180deg);
    color:var(--purple-contrast);
    font-weight: bolder;
}
.logo_position{
    position: absolute;
    margin-top: 50%;
    margin-left: 15%;
}
.html_logo{
    width: 35px;
    height: 50px;
    transform: rotate(180deg);
}
.css_logo{
    width: 75px;
    height: 55px;
    transform: rotate(180deg);
}
.python_logo{
    width: 50px;
    height: 50px;
}
.timeline_down_p{
    position: absolute;
    color: var(--purple-contrast);
    font-weight: bolder;
    margin-top: 9.5%;
    margin-left: 13%;

}
.down_logo_position{
    margin-top: 54%;
    margin-left: 60%;
}
.js_logo{
    width: 90px;
    height: 50px;
}
.php_logo{
    width: 60px;
    height: 60px;
    margin-left: 15px;
}
.perso{
    border: 2px solid red;
    width: 25%;
    height: 25%;
}